<div class="details" *ngIf="data$ | async as data">
  <div class="container py-3">
    <div class="card">
      <div class="row">
        <div class="col-md-7 px-3">
          <div
            class="card-block px-6"
            style="border-radius: 20px 20px 20px 20px"
          >
            <h1 class="card-title">
              {{ data.book?.title }} - {{ data.book?.author }}
            </h1>
            <br />
            <p class="card-text" style="font-weight: bolder; font-size: larger">
              {{ data.book?.shortDescription }}
            </p>
            <p class="card-text" style="font-weight: bolder; font-size: larger">
              {{ data.book?.fullDescription }}
            </p>
            <br />
            <br />
            <p class="card-text" style="font-weight: bolder; font-size: larger">
              Uploaded by: {{ data.book?.owner?.username }}
            </p>
            <p class="card-text" style="font-weight: bolder; font-size: larger">
              Uploader's opinion: {{ data.book?.myOpinion }}
            </p>
            <p class="card-text" style="font-weight: bolder; font-size: larger">
              Likes: {{ likesCounter }}
            </p>
            <br />
            <div *ngIf="data.isLoggedIn">
              <a
                class="mt-auto btn btn-primary"
                style="color: aliceblue"
                routerLink="/books/{{ data.book?._id }}/comment"
                >Comment</a
              >
              <div *ngIf="!isOwner">
                <div *ngIf="!hasLiked">
                  <a (click)="like()" class="mt-auto btn btn-primary" style="color: aliceblue">Like</a>
                </div>
                <div *ngIf="hasLiked">
                  <p
                    class="card-text"
                    style="font-weight: bolder; font-size: larger"
                  >
                    You have already liked this book!
                  </p>
                  <a (click)="dislike()" class="mt-auto btn btn-primary"
                  style="color: aliceblue"
                    >Dislike</a
                  >
                </div>
              </div>
              <div *ngIf="isOwner">
                <a
                  class="mt-auto btn btn-primary"
                  style="color: aliceblue"
                  (click)="openDialogEditBook('300ms', '300ms')"
                  >Edit</a
                >
                <a
                  class="mt-auto btn btn-primary"
                  style="color: aliceblue"
                  (click)="openDialogDeleteBook('300ms', '300ms')"
                  >Delete</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{ data.book?.coverPicture }}" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="data.book?.comments?.length === 0">
    <h1
      style="
        color: rgb(0, 255, 72);
        font-weight: bolder;
        font-family: 'Courier New', Courier, monospace;
      "
    >
      No comments have been added yet!
    </h1>
  </div>

  <div *ngIf="data.book?.comments">
    <div *ngFor="let comment of data.book?.comments">
      <app-comment-card [comment]="comment" />
    </div>
  </div>

  <br />
  <br />
</div>
