<div class="navbarstyle" *ngIf="data$ | async as data">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
          <a
            class="nav-link active"
            routerLink="/"
            style="
              display: block;
              width: 55px;
              margin-right: 15px;
              margin-left: -30px;
            "
            ><img
              src="../../../../assets/nav-bar-book.jpeg.jpg"
              height="100%"
              width="100%"
          /></a>

          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link active" aria-current="page" routerLink="/">
              <div>
                <i class="fa fa-home fa-2x"></i>
              </div>
              Home
            </a>
          </li>

          <li class="nav-item text-center mx-2 mx-lg-1">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/books/all"
            >
              <div>
                <i class="fa fa-book fa-2x"></i>
              </div>
              Books
            </a>
          </li>

          <li
            class="nav-item text-center mx-2 mx-lg-1"
            *ngIf="!data.isLoggedIn"
          >
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/books/search"
            >
              <div>
                <i class="fa fa-search fa-2x"></i>
              </div>
              Search
            </a>
          </li>

          <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="data.isLoggedIn">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/books/addNew"
            >
              <div>
                <i class="fa fa-solid fa-plus fa-2x"></i>
              </div>
              Add Book
            </a>
          </li>

          <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="data.isLoggedIn">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/user/profile"
            >
              <div>
                <i class="fa fa-solid fa-user fa-2x"></i>
              </div>
              Profile
            </a>
          </li>

          <li
            class="nav-item text-center mx-2 mx-lg-1"
            *ngIf="!data.isLoggedIn"
          >
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/user/register"
            >
              <div>
                <i class="fa fa-sign-in fa-2x"></i>
              </div>
              Register
            </a>
          </li>

          <li
            class="nav-item text-center mx-2 mx-lg-1"
            *ngIf="!data.isLoggedIn"
          >
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/user/login"
            >
              <div>
                <i class="fa fa-sign-in fa-2x"></i>
              </div>
              Login
            </a>
          </li>

          <li
            class="nav-item text-center mx-2 mx-lg-1"
            style="cursor: pointer"
            *ngIf="data.isLoggedIn"
          >
            <a
              class="nav-link active"
              aria-current="page"
              (click)="openDialogLogout('300ms', '300ms')"
            >
              <div>
                <i class="fa fa-sign-out fa-2x"></i>
              </div>
              Logout
            </a>
          </li>

          <li style="color: aliceblue; font-size: x-large; margin-left: 230px; margin-top: 20px;">
           Welcome to BooksWorld - a place for sharing your favorite books and interract with other book lovers!
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
