.home {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 20%;
}

.home1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -85%);
}
