<div class="home1">
  <div *ngIf="data$ | async as data" class="greeting">
    <p
      *ngIf="data.user?.username"
      style="color: aquamarine; font-family: monospace; font-size: 500%"
    >
      Welcome, {{ data.user?.username }}!
    </p>

    <p
      *ngIf="!data.user?.username"
      style="color: aquamarine; font-family: monospace; font-size: 500%"
    >
      Welcome, GUEST!
    </p>
  </div>
</div>

<div class="home">
  <div *ngIf="randomBook">
    <app-book-card [book]="randomBook" />
  </div>
</div>
