.home {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -85%);
  width: 20%;
}

.home1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -85%);
}
