<div *ngIf="onDeleteBook">
  <h2 mat-dialog-title style="font-size: larger; font-weight: bolder">
    Would you like to delete this book?
  </h2>
  <mat-dialog-content style="font-size: larger; font-weight: bolder">
    It will be permanently removed!
  </mat-dialog-content>
</div>

<div *ngIf="onEditBook">
  <h2 mat-dialog-title style="font-size: larger; font-weight: bolder">
    Would you like to edit this book?
  </h2>
  <mat-dialog-content style="font-size: larger; font-weight: bolder">
    It's data will be changed!
  </mat-dialog-content>
</div>

<div *ngIf="onDeleteComment">
  <h2 mat-dialog-title style="font-size: larger; font-weight: bolder">
    Would you like to delete this comment?
  </h2>
  <mat-dialog-content style="font-size: larger; font-weight: bolder">
    It will be permanently removed!
  </mat-dialog-content>
</div>

<div *ngIf="onEditComment">
  <h2 mat-dialog-title style="font-size: larger; font-weight: bolder">
    Would you like to edit this comment?
  </h2>
  <mat-dialog-content style="font-size: larger; font-weight: bolder">
    It's data will be changed!
  </mat-dialog-content>
</div>

<div *ngIf="onLogout">
  <h2 mat-dialog-title style="font-size: larger; font-weight: bolder">
    Would you like to log out?
  </h2>
  <mat-dialog-content style="font-size: larger; font-weight: bolder">
    Current session will be closed.
  </mat-dialog-content>
</div>

<mat-dialog-actions>
  <button
    *ngIf="onDeleteBook"
    class="mt-auto btn btn-primary"
    style="color: aliceblue"
    mat-dialog-close
    cdkFocusInitial
    (click)="deleteBook()"
  >
    Yes
  </button>

  <button
    *ngIf="onEditBook"
    class="mt-auto btn btn-primary"
    style="color: aliceblue"
    mat-dialog-close
    cdkFocusInitial
    (click)="editBook()"
  >
    Yes
  </button>

  <button
    *ngIf="onDeleteComment"
    class="mt-auto btn btn-primary"
    style="color: aliceblue"
    mat-dialog-close
    cdkFocusInitial
    (click)="deleteComment()"
  >
    Yes
  </button>

  <button
    *ngIf="onEditComment"
    class="mt-auto btn btn-primary"
    style="color: aliceblue"
    mat-dialog-close
    cdkFocusInitial
    (click)="editComment()"
  >
    Yes
  </button>

  <button
    *ngIf="onLogout"
    class="mt-auto btn btn-primary"
    style="color: aliceblue"
    mat-dialog-close
    cdkFocusInitial
    (click)="logout()"
  >
    Yes
  </button>

  <button
    class="mt-auto btn btn-primary"
    style="color: aliceblue"
    mat-dialog-close
    (click)="clickNo()"
  >
    No
  </button>
  <!-- <button mat-button mat-dialog-close (click)="clickNo()">No</button> -->
</mat-dialog-actions>
